html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    background-color: #E2E8F0;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    gap: 1rem;
    color: #ffffff;
    background-color: #374151;
}

.header-handle {
    display: flex;
}

.header-logo {
    height: 3rem;
}

header h1 {
    font-size: 2rem;
}

.header-icon {
    height: 2rem;
    transition: 300ms;
}

header svg {
    fill: #ffffff;
}

.header-icon:hover {
    transform: scale(1.2);
}

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    margin: 4rem;
    gap: 2rem;
}

.book-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.2);
}

.book-container .delete {
    display: none;
}

.book-container:hover .delete {
    display: block;
}

.book {
    text-align: center;
    padding: 0.5rem;
    height: 220px;
    width: 140px;
    background-color: #ffffff;
}

.book p {
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow-wrap: break-word;
}

.status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    gap: 0.5rem;
    width: 140px;
    height: 2rem;
    transition: 300ms;
}

.status-container svg {
    height: 1.5rem;
}
.status-container:hover {
    cursor: pointer;
}

.checkbox-container svg {
    height: 1.5rem;
}

.delete:hover,
.checkbox-container:hover {
    cursor: pointer;
}

.delete,
.close-form {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color:#ffffff;
    border: none;
    border-radius: 50%;
    transition: 300ms;
}

.delete:hover {
    transform: scale(1.2);
}

.delete svg {
    height: 1.5rem;
    fill: #ff3f3f;
}

.form-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.close-form {
    right: 5px;
    top: 5px;
}

.close-form:hover {
    transform: scale(1.2);
}

.close-form svg {
    height: 1.5rem;
    fill: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

form legend {
    font-size: 2rem;
    text-align: center;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form input {
    font-size: 1.2rem;
    padding: 0 4px;
}

form button {
    text-align: center;
    color: #ffffff;
    background-color: #059862;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 6px;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    background-color: #374151;
    height: 3rem;
}

footer a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: #ffffff;
}

footer svg {
    height: 2rem;
    fill: #ffffff;
}



