html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font: inherit;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    gap: 1rem;
    color: #ffffff;
    background-color: #374151;
}

header h1 {
    font-size: 2rem;
}

header svg {
    fill: #ffffff;
    height: 2rem;
}

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    margin: 4rem;
    gap: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;
    height: 220px;
    width: 140px;
    border: 2px solid black;
    overflow: hidden;
}
